/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* style */

body {
  /* size:range */
  font: 16px/28px arial, sans-serif;
  background-color: #eaeaea;
  background-image: url('/img/bg.webp');
  color: #333;
}

.container {
  width: 800px;
  margin: auto;
  background-color: #fff;
}

.header {
  padding: 20px;
}

.header .title {
  font-size: 40px;
  font-weight: bold;
}

.header ul li {
  margin-top: 20px;
  display: inline-block;
}

.header ul li a {
  text-decoration: none;
  color: salmon;
  padding: 5px;
}

.header ul li a:hover {
  background-color: antiquewhite;
  color: salmon;
}

.header ul li .active {
  background-color: antiquewhite;
  color: salmon;
}

.hero {
  height: 400px;
  background-image: url('/img/hero.jpg');
  background-size: cover;
  background-position: 0 -130px;
  border-top: solid 5px salmon;
  border-bottom: solid 5px antiquewhite;
}

.content {
  margin: 20px;
}

.content h2 {
  font-size: 28px;
  font-weight: bold;
}

.content .author {
  font-size: 12px;
}

.content .author a {
  text-decoration: none;
  color: salmon;
}

.content p {
  margin-bottom: 20px;
  font-size: 14px;
}

.footer {
  background-color: #000;
  color: #fff;
  font-size: 12px;
  text-align: center;
  padding: 5px 0;
}